<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} - {{ site_title }}</title>
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/static/css/dracula.min.css">
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/png">
</head>

<body class="{{ class.body }}">
    <div class="wrap">
        <header class="site-header">
            <div class="container">
                <a href="/" id="logo">
                    <div class="left">
                        <img src="/static/img/logo.png" alt="{{ site_title }}">
                    </div>
                    <div class="right">
                        <h2 class="site-name">{{ site_title }}</h2>
                        <p class="site-description">{{ site_desc }}</p>
                    </div>
                </a>
                <div id="main-nav">
                    <nav>
                        <a href="/">Home</a>
                        {{ #pages }}
                            <a href="{{ link }}">{{ title }}</a>
                        {{ /pages }}
                    </nav>
                </div>
            </div>
        </header>
        <div class="primary {{ class.container }}">
            <div class="container">
                {{{ content }}}
            </div>
        </div>
        <footer class="site-footer">
            <div class="container">
                <p>{{{ footer }}}</p>
            </div>
        </footer>
    </div>
</body>

</html>
