$font--primary: 'Cousine', monospace;
$font--size: 16px;
$color--primary: #004BBD;
$color--primary-hover: #004BBD;
$color--dark: #253858;
$color--grey: #6D6F7B;
$color--grey-light: #efefef;
$content-width: 800px;
