$font--primary: 'Cousine', monospace;
$font--size: 16px;
$color--primary: #4DBA87;
$color--primary-hover: #4DBA87;
$color--dark: #323648;
$color--grey: #6D6F7B;
$color--grey-light: #efefef;
$content-width: 800px;
