@import url('https://fonts.googleapis.com/css?family=Cousine:400,400i,700,700i&subset=vietnamese');
@import "reset";
@import "variables";
@import "mixins";

/** GENERAL **/
* {
    box-sizing: border-box;
}

body {
    font-family: $font--primary;
    font-size: 16px;
    color: $color--dark;
    line-height: 1.5;
}

a {
    color: $color--primary;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.container {
    max-width: $content-width;
    margin: 0 auto;
    @media screen and (max-width: 800px){
        padding-left: 20px;
        padding-right: 20px;
    }
}

.primary {
    margin-top: 40px;
    margin-bottom: 40px;
}

/** SITE HEADER **/
.site-header {
    padding: 15px 0;
    margin-bottom: 20px;
    background-color: $color--primary;
    color: #fff;
    @media screen and (max-width: 800px){
        padding-left: 0;
        padding-right: 0;
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/** SITE FOOTER **/
.site-footer {
    padding: 40px 0;
    color: $color--grey;
}

/* LOGO */
#logo {
    display: flex;
    align-items: center;
    color: #fff;
    &:hover {
        text-decoration: none;
    }
    img {
        height: 40px;
        width: auto;
        margin-right: 10px;
    }
    .site-name {
        font-weight: 700;
        font-size: 1.5em;
        line-height: 1;
    }
    .site-description {
        font-size: 14px;
    }
}

/** MAIN NAVIGATION **/
#main-nav {
    a {
        margin-left: 10px;
        opacity: .8;
        border-bottom: none;
        color: #fff;
        &:hover {
            opacity: 1;
        }
    }
}

/** HOME **/
.home {
    .post-list {
        .year {
            margin-bottom: 40px;
        }
        h1 {
            font-weight: 700;
            font-size: 1.2em;
            margin-bottom: 10px;
        }
        p {
            margin: 1em;
        }
        a {
            border-bottom: 0;
        }
    }
}

/** SINGLE **/
.single {
    .container.post {
        width: 700px;
    }
}

.post {
    &__header {
        border-bottom: 1px solid $color--grey-light;
        padding-bottom: 10px;
    }
    &__title {
        font-weight: 700;
        font-size: 2em;
    }
    &__meta {
        color: $color--grey;
        span {
            margin-right: 15px;
            @media screen and (max-width: 500px){
                display: block;
            }
        }
        strong {
            font-weight: 700;
        }
    }
    &__content {
        margin: 40px 0;
        font-size: 1em;
        @include line-height(1);
        h1, h2, h3 {
            font-weight: 700;
        }
        h1 {
            font-size: 1.5em;
        }
        h2 {
            font-size: 1.2em;
        }
        h3 {
            font-size: 1.2em;
        }
        p {
            margin: 1em 0;
        }
        strong {
            font-weight: 700;
        }
        em {
            font-style: italic;
        }
        code {
            background-color: $color--grey-light;
            font-weight: 700;
            padding: 0 5px;
        }
        pre {
            margin: 1em 0;
            padding: 10px;
            border-radius: 5px;
            code {
                font-weight: normal;
                padding: 0;
                background-color: transparent;
            }
        }
        ul, ol, h1, h2, h3 {
            margin-top: 1em;
            margin-bottom: 1em;
        }
        ul {
            margin-left: 20px;
        }
        ol {
            margin-left: 35px;
        }
        ul li {
            list-style: disc;
        }
        ol li {
            list-style: decimal;
        }
        img {
            display: block;
            margin: 0 auto;
        }
        blockquote {
            margin: 1em 0;
            border-left: 2px solid $color--grey;
            padding-left: 20px;
        }
    }
}
